*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
html {
    scroll-behavior: smooth;
    position: relative;
  }
.container{
    max-width: 1200px;
    width: 75%;
    margin: 0 auto; 
}

/* header */
header{
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    color: white;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding: 26px 0;
}

.header__container .menu{
    background-color: transparent;
    border: none;
}

header .window {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 300px;
    /* background-color: rgba(245, 122, 145, 0.2); */
    border: none;

    padding: 20px;
    z-index: 9999;
  }
  header .window a{
    display: block;
    font-size: 20px;
    padding: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    text-align: center;
  }

  header .close{
    position: absolute;
    top: -155px;
    right:5px;
    border: none;
    color: white;
    background-color: transparent;
    font-size: 30px;
  }

  /* CSS for the overlay */
  .overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 9998;
  }

.header__container .header__logo i{
    font-size: 32px;
}

.header__container .header__logo h1{
    display: inline;
    font-weight: 700;
    font-size: 32px;
    text-transform: lowercase;
    user-select: none;
}
.header__container{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__container a{
    text-transform: uppercase;
    text-decoration: none;
    margin-right: 30px;
    color: white;
    font-weight: 500;
    font-size: 17px;
    transition: 0.5s;
}
.header__container a.active,
.header__container a:hover{
    color: #e62b4a;
}
.header__container .logo{
    font-size: 2rem; 
}

/* end header */

/* banner */
.banner{
    background-image: url(./image-video/home_slider.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner__container{
    /* border: 10px solid black; */
    width: max-content;
    color: white;
    text-align: center;
}

.banner__container h2{
    font-size: 75px;
    font-weight: 700;
    margin: 20px 0;
}

.banner__container p {
    font-size: 25px;
}

.banner__container button{
    border: none;
    padding: 15px 25px;
    text-transform: uppercase;
    background: #e62b4a;
    color: white;
    font-size: 1.375rem;
    cursor: pointer;
    transition: 0.5s;
}

.banner__container button:hover{
    background:#af2239;
    
}

.banner__container i{
    font-size: 2rem;
    animation: arrowanimate 1s infinite ;
}

@keyframes arrowanimate {
    from{
        transform: translateY(60px); 
        opacity: 1;
    }
    to{
        transform: translateY(120px);
        opacity: 0;
    }
}
/* end banner */

/* carousel */
.carousel{
    padding: 80px 0;
    background: #000;
}

.carousel__item{ 
    width: 171px;
    height: 230px;
    padding: 0px 15px;
}

.carousel .item__container{
    background: white;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    text-align: center;
}
.item__container{
    position: relative;
}

.item__container i{
    font-size: 50px;
    opacity: 0.4;
    
}

.item__container p{
    font-size: 16px;
    opacity: 0.4;
    font-weight: 500;
    letter-spacing: 1px;
}

 .item__container::after{
    position: absolute;
    top: 0;
    right: 0;
    content: "";
    width: 5px;
    height: 0;
    background-color: #e62b4a;
    display: block;
    transition: height 0.3s linear ;
}

.item__container:hover::after{
    height: 100%;
}

 
.carousel .slick-dots li.slick-active button:before{
    color: #e62b4a;
    font-size: 14px;
}

.carousel .slick-dots li button::before{
    color: white;
    font-size: 14px;
}


.carousel .slick-dots{
    bottom: -50px;
}

/* end carousel */

/* blog */
.blog{
    padding: 100px 0;
}
.blog__list img{
    width: 100%;
    height: 100%;
    display: block;
    filter: grayscale(50%) contrast(50%);
}

.blog__list{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 30px;
    object-fit: cover;
    aspect-ratio: 1/1;
    padding: 50px 0;
    /* tỉ lệ hình dài / rộng */
}

.blog__title{
    text-align: center;
    padding: 0 23%;
}

.blog__title span {
    font-size: 14px;
    opacity: 0.5;
    font-weight: 500;
}

.blog__title h1{
    font-size: 50px;
    font-weight: 500;
    height: 60px;
}

.blog__title p{
    font-weight: 700;
    font-size: 16px;
    opacity: 0.6;
    margin-top: 20px;
    list-style: 40px;
}
.item__overplay{

}

.blog__list .blog__item{
    position: relative;
}
.blog__list .item__overplay{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(230, 43, 74, 0.6);
    opacity: 0;
    transition: all 0.5s linear;
}


.blog-1 .overplay__search{
    position: absolute;
    background: white;
    top: 30px;
    right: 30px;
    transform: translateY(20px);
    transition: all 0.5s linear;
}
.blog-2 .overplay__search{
    position: absolute;
    background: white;
    top: 30px;
    right: 30px;
    transform: translateY(20px);
    transition: all 0.5s linear;
}

.blog__item:hover .overplay__search {
    transform: translateY(0px);
}

.blog-1 .overplay__title{
    color: white;
    position: absolute;
    left: 30px;
    bottom: 30px;
    transform: translateY(20px);
    transition: all 0.5s linear;
}

.blog-2 .overplay__title{
    color: white;
    position: absolute;
    left: 30px;
    bottom: 30px;
    transform: translateY(20px);
    transition: all 0.5s linear;
}

.blog__item:hover .overplay__title{
    transform: translateY(0px);
}

.blog__item:hover .overplay__search{
    transform: translateY(0px);
}


.blog__item:hover .item__overplay{
    opacity: 1;
}


.overplay__title h3{
    text-transform: uppercase;
    opacity: 0.7;
    font-size: 16px;
}
.overplay__title p{
    
    font-size: 10 rem;
    font-weight: 700;
    text-transform: uppercase;
}

.blog__item i {
    color: black;
    padding: 10px;
    transition: all 0.5s;
}

.blog__item i:hover{
    color: white;
    background: #000;
}

.blog__list .item-1{
    grid-column: 1 / 3; 
    /* bắt đầu / kết thúc */
    grid-row: 1 / span 2;
    /* bắt đầu / số lượng mở rộng */
}

.blog__list .item-2{
    grid-column: 3 / 5;
    grid-row: 3 / 5;
}
/* end blog */


/* number */

.number{
    padding: 100px 0;
    background: #000;
    color: white;
    
    /* text-align: center */
}


.number__list{
    display: flex;
    justify-content: space-evenly;
}

.number__item{
    text-align: center;
}
.number__item h2{
    font-size: 60px;
    font-weight: 300;
}

.number__item p{
    opacity: 0.6;
    font-size: 20px;
    padding: 0 30px;
    text-transform: uppercase;
}
/* end number */


/* digital */
.digital__title{
    text-align: center;
    color: white;
    margin-bottom: 30px;
    padding: 0 23%;
}

.digital__title h1{
    font-size: 50px;
    font-weight: 500;
    margin: 10px 0 30px;
}

.digital__title p{
    opacity: 0.7;
    line-height: 30px;
}

.digital__title h6{
    font-size: 14px;
    color: #e62b4a;
}

.digital .container{
    padding: 100px 0; 
}

.digital {
    background-image: url(./image-video/bussiness_img_1.jpg);
    background-attachment: fixed;

    background-size: cover;
    background-repeat: no-repeat;
}

video{
    width: 100%;
    height: 100%;
}
/* end digital */


/* map */
.map {
    text-align: center;
    padding: 100px 0;
}

.map__top h1{
    font-size: 50px;
    margin-bottom: 20px;
    font-weight: 500;
}

.map__top p{
    font-weight: 500;
    opacity: 0.6;
    margin-bottom: 30px;
    line-height: 30px;
}
.map__top{
    padding: 0 24%;
}

.map__bottom{
    display: flex;
   
    
}

.map__left{
    width: 60%;
}

.map__right{
    width: 40%;
}

.map__bottom input{
    display: block;
    width: 90%;
    height: 10%;
    margin-bottom: 20px;
    margin-left: 20px;
    padding: 10px;
}

textarea{
    display: block;
    width: 90%;
    height: 53%;
    margin-bottom: 20px;
    margin-left: 20px;
    padding: 10px;
}

.map__bottom button:hover{
    background: rgb(210, 19, 19);
}

.header__container .menu{
    display: none;
}

.map__bottom button{
    display: block;
    width: 90%;
    transition: all 0.3s linear;
    padding: 20px 0;
    margin-left: 20px;
    border: none;
    color: white;
    background: #000;
    cursor: pointer;
}
/* end map */


/* footer */

footer{
    padding: 100px 0;
    background: #000;
    color: white;
}

.footer__item{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__left{
    font-size: 14px;
}

.item__logo i{
    
    color: rgb(255, 255, 255);
}

.item__logo a{
    background: rgba(255, 255, 255, 0.2);
    height: 54px;
    width: 54px;
    display: inline-block;
    text-align: center;
    line-height: 54px;
    border-radius: 30px;
    margin-left: 5px;
    transition: all 0.3s;
}

.footer__right .item__logo a:hover{
    background: #e62b4a;
}

/* end footer */


.backToTop {
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 4px;
    text-align: center;
    background: rgba(0, 0, 0, 0.25);
    font-weight: bold;
    color: white;
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 20px;
    visibility: hidden;
    opacity: 0;
}

.cd-top--is-visible{
    visibility: visible;
    opacity: 1;
}


a{
    text-decoration: none;
    color: white;
}

@media screen and (max-width: 424px) {
    .header__container .header__logo i{
        font-size: 42px;
    }
    header{
        display: flex;
        justify-content: center;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        color: white;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        padding: 26px 0;
    }
    .header__container .header__logo h1{
        display: inline;
        font-weight: 700;
        font-size: 22px;
        text-transform: lowercase;
        user-select: none;
    }
    .header__container{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .header__container a{
        text-transform: uppercase;
        text-decoration: none;
        margin-right: 10px;
        color: white;
        font-weight: 500;
        font-size: 12px;
        transition: 0.5s;
    }
    .header__container .nav{
        display: none;
    }
    .header__container .menu{
        display: block;
    }
    .header__container a.active,
    .header__container a:hover{
        color: #e62b4a;
    }
    .header__container .logo{
        font-size: 2rem; 
    }
    .header__logo{
        width: 50%;
    }


    



    .banner{
        background-image: url(./image-video/home_slider.jpg);
        height: 100vh;
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .banner__container{
        /* border: 10px solid black; */
        width: max-content;
        color: white;
        text-align: center;
    }
    
    .banner__container h2{
        font-size: 25px;
        font-weight: 700;
        margin: 20px 0;
    }
    
    .banner__container p {
        font-size: 25px;
    }
    
    .banner__container button{
        border: none;
        padding: 15px 25px;
        text-transform: uppercase;
        background: #e62b4a;
        color: white;
        font-size: 1.375rem;
        cursor: pointer;
        transition: 0.5s;
    }
    
    .banner__container button:hover{
        background:#af2239;
        
    }
    
    .banner__container i{
        font-size: 2rem;
        animation: arrowanimate 1s infinite ;
    }
    
    @keyframes arrowanimate {
        from{
            transform: translateY(60px); 
            opacity: 1;
        }
        to{
            transform: translateY(120px);
            opacity: 0;
        }
    }


    .carousel{
        padding: 40px 0;
        background: #000;
    }
    
    .carousel__item{ 
        width:101px;
        height: 120px;
        padding: 0px 2px;
        margin-right: 2px;
    }
    
    .carousel .item__container{
        background: white;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 1.5rem;
        text-align: center;
    }
    .item__container{
        position: relative;
    }
    
    .item__container i{
        font-size: 20px;
        opacity: 0.4;
        
    }
    
    .item__container p{
        font-size: 6px;
        opacity: 0.4;
        font-weight: 500;
        letter-spacing: 1px;
    }
    
     .item__container::after{
        position: absolute;
        top: 0;
        right: 0;
        content: "";
        width: 5px;
        height: 0;
        background-color: #e62b4a;
        display: block;
        transition: height 0.3s linear ;
    }
    
    .item__container:hover::after{
        height: 100%;
    }
    
     
    .carousel .slick-dots li.slick-active button:before{
        color: #e62b4a;
        font-size: 14px;
    }
    
    .carousel .slick-dots li button::before{
        color: white;
        font-size: 14px;
    }
    
    
    .carousel .slick-dots{
        bottom: -50px;
    }


    /* blog */
.blog{
    padding: 50px 0;
}
.blog__list img{
    width: 100%;
    height: 100%;
    display: block;
    filter: grayscale(50%) contrast(50%);
}

.blog__list{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 30px;
    object-fit: cover;
    aspect-ratio: 1/1;
    padding: 50px 0;
    /* tỉ lệ hình dài / rộng */
}

.blog__title{
    text-align: center;
    padding: 0 23%;
}

.blog__title span {
    font-size: 12px;
    opacity: 0.5;
    font-weight: 500;
}

.blog__title h1{
    font-size: 20px;
    font-weight: 500;
    height: 60px;
}

.blog__title p{
    font-weight: 700;
    font-size: 12px;
    opacity: 0.6;
    margin-top: 20px;
    list-style: 40px;
}


.blog-1 .overplay__title{
    color: white;
    position: absolute;
    left: 10px;
    bottom: 10px;
    transform: translateY(20px);
    transition: all 0.5s linear;
}

.blog-2 .overplay__title{
    color: white;
    position: absolute;
    left: 5px;
    bottom: 5px;
    transform: translateY(20px);
    transition: all 0.5s linear;
}

.blog-1 .overplay__search{
    position: absolute;
    background: white;
    top: 10px;
    right: 10px;
    transform: translateY(20px);
    transition: all 0.5s linear;
}

.blog-2 .overplay__search{
    position: absolute;
    background: white;
    top: 5px;
    right: 5px;
    transform: translateY(20px);
    transition: all 0.5s linear;
}

.blog-1 .overplay__title h3{
    text-transform: uppercase;
    opacity: 0.7;
    font-size: 10px;
}
.blog-1 .overplay__title p{
    
    font-size: 10px;
    font-weight: 700;
    text-transform: uppercase;
}

.blog-1 i {
    color: black;
    padding: 3px;
    font-size: 10px;
    transition: all 0.5s;
}


.blog-2 .overplay__title h3{
    text-transform: uppercase;
    opacity: 0.7;
    font-size: 5px;
}

.blog-2 .overplay__title p{
    
    font-size: 6px;
    font-weight: 700;
    text-transform: uppercase;
}

.blog-2 i {
    color: black;
    padding: 0px;
    font-size: 8px;
    transition: all 0.5s;
}
.blog-2 a{

}
/* end blog */


/* number */

.number{
    padding: 30px 0;
    background: #000;
    color: white;
    
    /* text-align: center */
}


.number__item h2{
    font-size: 10px;
    font-weight: 300;
}

.number__item p{
    opacity: 0.6;
    font-size: 10px;
    padding: 0 10px;
    text-transform: uppercase;
}




/* end number */


/* digital */
.digital__title{
    text-align: center;
    color: white;
    margin-bottom: 30px;
    padding: 0 23%;
}


.digital__title h1{
    font-size: 20px;
    font-weight: 500;
    margin: 10px 0 30px;
}
.digital__title p{
    opacity: 0.7;
    line-height: 15px;
}
.digital__title h6{
    font-size: 10px;
    color: #e62b4a;
}


/* end digital */



/* map */
.map {
    text-align: center;
    padding: 60px 0;
}
.map__top h1{
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: 500;
}
.map__top p{
    font-weight: 500;
    opacity: 0.6;
    font-size: 15px;
    margin-bottom: 30px;
    line-height: 30px;
}
.map__top{
    padding: 0 0;
}
/* end map */

    /* footer */

footer{
    padding: 40px 0;
    background: #000;
    color: white;
}

.footer__left{
    font-size: 10px;
}
.item__logo i{   
    font-size: 10px;
    color: rgb(255, 255, 255);
}

.item__logo a{
    background: rgba(255, 255, 255, 0.2);
    height: 25px;
    width: 25px;
    display: inline-block;
    text-align: center;
    line-height: 21px;
    border-radius: 16px;
    margin-left: 7px;
    transition: all 0.3s;
}


/* end footer */

  }
/*  */